body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat' ;
  color: #2c2c2c;
  overflow-x: none;
}

.widthWrap {
  max-width: 90vw;
  margin: 0 auto;
}

header {
  background-image:url(https://i.ytimg.com/vi/oxStySYH74k/maxresdefault.jpg);
  background-color: #8a92f7;
  background-position: center;
  background-size: cover;
  height: 75vh;
}
.smallHeader {
  height: 40vh
}

#floatingNav {
  display: flex;
  max-width: 90vw;
  margin: 0 auto;
}
nav {
  flex: 2;
  display: flex;
  padding-left: 5vw
}
#search {
  width: 80vw;
  margin: 0 auto;
  padding-top: 10vh;
}

.splitCol {
  display: flex;
}

@media screen and (min-width: 1200px) {
  header {
    height: 65vh;
  }
}

/* fonts and forms */

.cAlign {/* Center align class */
  text-align: center;
}

p {
  font-size: 2.5vh;
}
h1 {
  font-weight: 300;
  font-size: 3vw;
  margin: 5px 0;
}
h2 {
  font-weight: 700;
  font-size: 2.2vh;
  margin: 0;
}
#floatingNav h2 {
  padding: 10px;
  margin-top: 10px;
}

#floatingNav h2 {
  color: white;
  font-weight: 300;
}
.tagline {
  margin-top: 10vh;
}
.active {
  font-weight: bold!important;
}
.price {
  color: #28a9fd;
  text-align: right;
  flex: 2;
}
.price h2, .price p {
  font-size: 5vh;
  display: inline-block;
  margin: 0;
}
.price p {
  font-size: 2vw;
}

input {
  padding: 2.8vh;
  font-family: 'Montserrat' ;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #cecece;
  margin: 0;
  color: #2c2c2c;
}
#searchLocation {
  width: 52vw;
}
input[type=submit] {
  background-color: #28a9fd;
  color: white;
  border: 1px solid #8a92f7;
  margin: 0;
  width: 20vw;
}


@media screen and (min-width: 1200px) {
  /* Set max font size on larger screens */
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 16px;
  }
  .price h2, .price p {
    font-size: 36px;
  }
  .price p {
    font-size: 18px;
  }
  
}

/* Featured Holiday preview */

.smallHoliday {
  width: 30vw;
  padding: 2vw;
}
.smallHoliday img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.smallHoliday div {
  margin-top: 10px;
}
.largeHoliday .rating img, .smallHoliday .rating img  {/* Remove change to real user rating */
  height: 26px;
  width: 107px;
  padding-top: 10px;
}

.largeHoliday {
  width: 60vw;
  padding: 2vw;
}
.largeHoliday img {
  width: 100%;
  height: 16vw;
  object-fit: cover;
}

/* Country slider */

#countrySlider img {
  width: 105%;
  height: 40vh;
  object-fit: cover;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  #countrySlider img {
    height: 35vh;
  } 
}

/* hotel slider */

#holidaySlider .smallHoliday {
  padding: 0;
}
.holidaySliderWrap {
  max-width: 86vw;
  margin: 0 auto;
}

/* view hotel */

.hotel {
  width: 60vw;
}

.hotel img {
  width: 60vw;
  margin-top: 2vh;
}

@media screen and (min-width: 1200px) {
  .hotel img {
    height: 400px
  }
}